{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 bg-dark text-white text-center">
  <h1 class="mb-4">Potwierdź usunięcie klienta</h1>
  <p>Czy na pewno chcesz usunąć tego klienta?</p>
  <div class="alert alert-danger" role="alert">
  <p>W przypadku usunięcia klienta <strong>jednocześnie usuwasz przypisane do niego naprawy</strong></p>
  <p>W przypadku konieczności usunięcia jedynie danych klienta zastosuj funkcję <strong>RODO</strong></p>
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger mx-3">Usuń</button>
    <a href="javascript:history.back()" class="btn btn-secondary mx-3">Anuluj</a> 
  </form>
</div>
{% endblock %}
